<style>
    body{
        background-color: whitesmoke; 
        margin: 100;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 200px;
    }

    div{
        text-align:center ;  
    }

</style>